# Entornos Virtuales
.venv/
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Setup locales y uv
.uv/
uv.lock

# Modelos y Datos
models/
*.pkl
*.model

# Testing y Logs
.pytest_cache/
.coverage
*.log

# Entornos IDE
.vscode/
.idea/
.DS_Store
